*{margin:0;padding:0;box-sizing:border-box}

body{
font-family:Segoe UI,sans-serif;
background:linear-gradient(135deg,#0f2027,#1a2a33,#16222a);
color:#fff;
min-height:100vh;
}

.center{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.login-box{
background:rgba(255,255,255,0.05);
backdrop-filter:blur(15px);
padding:40px;
border-radius:20px;
width:90%;
max-width:380px;
text-align:center;
box-shadow:0 0 40px rgba(0,255,150,.3);
}

.login-box h2{
margin-bottom:10px;
}

input{
width:100%;
padding:12px;
margin:12px 0;
border:none;
border-radius:8px;
outline:none;
}

button{
width:100%;
padding:12px;
border:none;
border-radius:8px;
background:#00e676;
color:#000;
font-weight:bold;
cursor:pointer;
transition:.3s;
}

button:hover{
background:#00c853;
}
